#fight {
	position:relative;
	width:800px;
	height:225px;
	margin:auto;
	margin-top:50px;
	background-color:black;
}

#player_image {
  width:150px;
	height:225px;
	position:absolute;
	left:10px;
	top:10px;
}

#enemy_image {
  width:150px;
  height:225px;
	position:absolute;
	right:10px;
	top:10px;
}


div#actions {
	width:200px;
	height:225px;
	margin:auto;
	border-left:solid 3px #333333;
	border-right:solid 3px #333333;
}



#actions a {
	margin-bottom:1px;
	display:block;
	background-color:#111111;
	color:white;
}

#action a:hover {
	text-decoration:none;
}

#playerstats {
	position:absolute;
	left:165px;
	width:140px;
	height:225px;
	margin:auto;
	background-color:#111111;
}

#enemystats {
	position:absolute;
	left:515px;
	top:10px;
	width:140px;
	height:225px;
	margin:auto;
	background-color:#111111;
}

#fightlog {
	overflow-y:scroll;
}

#fightlog div {
	margin:0px 10px 0px 10px;
	padding:10px;
	text-align:left;
	border-bottom:solid 1px #333333;
}
