#questwindow {
}


div#questlist {
  width:300px;
  height:560px;
  border-right:solid 1px white;
  float:left;
}


div#questlist a {
  margin:auto;
  margin-top:10px;
  display:block;
  width:200px;
  padding:5px;
  border:solid 1px #555555;
  background-repeat:no-repeat;
  background-position:center left;
}

div#questlist a.finished {
  background-image:url(../images/questfinished.bmp);
  color:green;
}

div#questlist a.failed {
  background-image:url(../images/questfailed.bmp);
  color:red;
}

div#questlist a.pending {
  background-image:url(../images/questpending.bmp);
  color:blue;
}



div#questinfo {
  width:500px;
  float:left;
  padding:10px;
  text-align:left;
}
