/* ADMIN */

table.admin {
	font-family:arial;
	font-size:12px;
  border:solid 1px #112233;
	padding:1px;
	padding-right:0px;

}

table.admin th {
	color:white;
	background-color:#112233;
}

table.admin td, table.admin th {
  border-bottom:solid 1px black;
  border-right:solid 1px black;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:3px;
	padding-left:3px;
}

table.admin td {
  border-bottom:solid 1px #112233;
  border-right:solid 1px #112233;

}





.admin input,button,select {
	font-size:10px;
}

.admin label, .tabselected label {
	display:block;
	float:left;
	width:150px;
	
}



div.cards {
	margin-top:10px;
	padding:1px;
	border:solid 1px #112233
}

div.tabs {
	color:white;
	
	background-color:#112233;
}


div.tabs a {
	display:block;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
	background-color:#112233;
	float:left;
	border-right:solid 1px black;
	color:white;
	font-size:12px;
	text-decoration:none;
}

div.tabs a.right {
	border-right:none;
	border-left:solid 1px black;	
	float:right;

}


div.tabs a:hover, div.tabs a.active { 
	background-color:#223344; 
}

div.tab {
	display:none;
}

div.tabselected {
	clear:both;
	width:100%;
	
}


#elm1_tbl {
width: 200px;
}


#elm1 {
	font-size:10px;
}




div.admin_table {
	margin:10px;
	display:table;
	font-family:arial;
	font-size:12px;
  border:solid 1px #112233;
	padding:1px;
	padding-right:0px;
  width:90%;
}

div.admin_table > div {
	display:table-row;
}

div.admin_table > form {
	display:table-row;
}

div.admin_table > * > div {
	display:table-cell;
  border-bottom:solid 1px #112233;
  border-right:solid 1px #112233;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:3px;
	padding-left:3px;
}

div.admin_table > *:first-child {
	color:white;
	background-color:#112233;
}	

div.admin_table > *:first-child > div {
  border-bottom:solid 1px white;
  border-right:solid 1px white;
}

div.admin_table > * > div:last-child {
  border-right:none;
}




.admin_table input,button,select {
	font-size:10px;
}


div.success {
	width:100%;
	border:solid 1px green;
	background-color:#ccffcc;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
}















